/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

html {
  margin: 0;
  padding: 0;
  background-color: black;
}

#background-image {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
	background-image: url('../img/good-morning-toronto-fresh.jpg');
	background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: padding-box;
	background-attachment: fixed !important;
	background-size: 960px !important;
	background-position: center -245px;
  transition: background-position 1s, background-size 1s;
  
  &.mind-map-expanded {
    background-position: center 0px;
  }
}

body {
  margin: 15px;
}

h1 { letter-spacing: -1.5px; font-weight: bold; }
h2 { letter-spacing: -1.0px; font-weight: bold; }
h3 { letter-spacing: -0.5px; font-weight: bold; }
h4 { letter-spacing: -0.2px; font-weight: bold; }

a {
  text-shadow: -1px -1px 0px rgba(255,255,255,0.25);
}

.img-embed {
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  .box-shadow( 0px 0px 1px 1px rgba(0,0,0,0.5) );
}

.translucent-content-area {
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  
  a {
    color: @sun-orange;
    text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
  }
}

blockquote {
  .box-shadow( inset 2px 0 0 -1px rgba(0,0,0,0.5) );
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

#mind-map-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
  color: #FFF;
  z-index: 100;
}
#mind-map {
  position: relative;
  height: 400px;
  text-align: center;
  overflow: hidden;
  .transition( height 1s );
  
  a {
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
    text-decoration: none;
  }
  
  .mind-map-title {
    line-height: 30px;
    color: white;
    z-index: 100;

    > div {
      position: relative;
      line-height: 11px;
      font-size: 11px;
      letter-spacing:  0.0px;
      a {
        color: #FFF;
        font-weight: normal;
      }
    }
  }
  
  h1, h2, h3, h4 {
    position: absolute;
    width: 240px;
    height: 40px;
    margin: -20px 0px 0px -120px;
    padding: 0px;
    line-height: 40px;
    @mind-map-destination-transition: left 1s, opacity 1s;
    .transition( @mind-map-destination-transition );

    &.x10 { left:  10%; }
    &.x15 { left:  15%; }
    &.x20 { left:  20%; }
    &.x25 { left:  25%; }
    &.x30 { left:  30%; }
    &.x35 { left:  35%; }
    &.x40 { left:  40%; }
    &.x45 { left:  45%; }
    &.x50 { left:  50%; }
    &.x55 { left:  55%; }
    &.x60 { left:  60%; }
    &.x65 { left:  65%; }
    &.x70 { left:  70%; }
    &.x75 { left:  75%; }
    &.x80 { left:  80%; }
    &.x85 { left:  85%; }
    &.x90 { left:  90%; }

    &.y10 { top:   10%; }
    &.y15 { top:   15%; }
    &.y20 { top:   20%; }
    &.y25 { top:   25%; }
    &.y30 { top:   30%; }
    &.y35 { top:   35%; }
    &.y40 { top:   40%; }
    &.y45 { top:   45%; }
    &.y50 { top:   50%; }
    &.y55 { top:   55%; }
    &.y60 { top:   60%; }
    &.y65 { top:   65%; }
    &.y70 { top:   70%; }
    &.y75 { top:   75%; }
    &.y80 { top:   80%; }
    &.y85 { top:   85%; }
    &.y90 { top:   90%; }
  }
  h1 { font-size: 36px; letter-spacing: -2.0px; }
  h2 { font-size: 24px; letter-spacing: -1.5px; }
  h3 { font-size: 18px; letter-spacing:  0.0px; }
  h4 { font-size: 12px; letter-spacing:  0.0px; }
  
  &.collapsed {
    height: 100px;
    
    h2, h3, h4 {
      left: 50%;
      .opacity( 0.0 );
    }
  }
}

.nav.nav-anson-toolbar {
  display: inline-block;
  background-color: rgba(128,128,128,0.64);
  .box-shadow( 0px 0px 10px rgba(0,0,0,0.5) );
  margin-bottom: 20px;
  border-radius: 5px;

  li {
    display: block;
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(255,255,255,0.25);
    #gradient > .vertical( rgba(255,255,255,0.5), rgba(128,128,128,0.3) );
    overflow: hidden;

    a {
      color: #FFF;
      font-weight: bold;
      text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
      
      &:hover {
        background-color: transparent;
        #gradient > .vertical( rgba(255,255,255,0.75), rgba(128,128,128,0.5) );
      }
      &:active {
        #gradient > .vertical( rgba(128,128,128,0.25), rgba(255,255,255,0.5) );
        .box-shadow( inset 1px 1px 10px rgba(0,0,0,0.25) );
      }
    }
    
    // Middle button
    + li {
      border-radius: 0px;
      
      &.active {
        border-top-width: 0px;
      }
    }
    
    // Last button
    &:last-child {
      border-radius: 0px 0px 5px 5px;
      border-right: 1px solid rgba(255,255,255,0.5);
    }

    // Current item
    &.active {
      background-image: none;
      .box-shadow( inset 1px 1px 10px rgba(0,0,0,0.4) );
      
      a:hover {
        background-image: none !important;
      }
    }
  }
}

.navbar-toggle {
  float: none;
  display: block;
  margin: 0px auto 20px;
  
  #gradient > .vertical( rgba(255,255,255,0.75), rgba(192,192,192,0.64) );
  border-color: rgba(255,255,255,0.75);
  .box-shadow( 0px 0px 10px rgba(0,0,0,1.0) );
  
  .icon-bar {
    background-color: white;
    .box-shadow( -1px -1px 1px rgba(0,0,0,0.5) );
  }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content {
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  background-color: rgba(32,32,32,0.5);
  .box-shadow( 0px 0px 10px rgba(0,0,0,0.5) );
  overflow: hidden;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  padding-top: 15px;
  background-color: rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  min-height: 400px;
  
  .page-header {
    margin: 0px;
    padding: 0px;
    border-bottom: none;
    
    h1 {
      margin-top: 0px;
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
  }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  border-top: 1px solid rgba(255,255,255,0.5);
  padding-bottom: 15px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
  border: 1px solid rgba(255,255,255,0.75);
  border-radius: 5px;
  .box-shadow( 0px 0px 10px rgba(0,0,0,0.5) );
  background-color: rgba(216,240,255,0.6);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
  margin-bottom: 15px;
  overflow: hidden;

  header {
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    .box-shadow( inset 0px -2px 0px -1px rgba(0,0,0,0.25) );
    #gradient > .vertical( rgba(255,255,255,0.4), rgba(161,189,206,0.3) );

    .entry-title {
      margin-top: 0px;
      margin-bottom: 5px;
      color: @sky-blue-dark;

      a {
        color: @sky-blue-dark;
      }
    }
  }
  
  .entry-meta {
    color: @sky-blue-faint;
    margin-bottom: 0px;
  }
  
  .entry-content,
  .entry-summary {
    padding: 15px ;
    background-color: rgba(216,240,255,0.3);
  }
  
  footer {
    border-top: 1px solid rgba(0,0,0,0.25);
    .box-shadow( inset 0px 2px 0px -1px rgba(255,255,255,0.5) );
    #gradient > .vertical( rgba(255,255,255,0.4), rgba(161,189,206,0.3) );
    min-height: 2px;
  }
  
  #disqus_thread {
    padding: 10px 15px 0px;
    background-color: rgba(255,255,255,0.5);
  }
  #respond {
    padding: 0px 10px;
  }
}



/* ==========================================================================
   Widgets
   ========================================================================== */

.social_stickers_widget {
  a {
    
    img {
      width:  32px !important;
      height: 32px !important;
      border: 1px solid #FFF;
      border-radius: 5px;
      .box-shadow( 0px 0px 1px 1px rgba(0,0,0,0.8) );
      .opacity( 0.8 );
      margin-right: 5px;
      margin-bottom: 10px;
      
      &:hover {
        .opacity( 1.0 );
      }
    }
  }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  margin: 20px auto 50px;
  color: #FFF;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-xs-min) { @import "app-xs.less"; }

@media (min-width: @screen-sm-min) { @import "app-sm.less"; }

@media (min-width: @screen-md-min) { @import "app-md.less"; }

@media (min-width: @screen-lg-min) { @import "app-lg.less"; }
